<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <div>
            <%- include("partials/header") %>
            <div>
                <h1>Join Us</h1>
                <form action="/signup" method="post" class="sign-up-form">
                    <label for="firstName">First Name</label>
                    <input 
                        type="text" 
                        name="firstName" 
                        id="firstName" 
                        value="<%= data ? data.firstName : '' %>"
                        required
                    />
                    <label for="lastName">Last Name</label>
                    <input 
                        type="text" 
                        name="lastName" 
                        id="lastName" 
                        value="<%= data ? data.lastName : '' %>"
                        required
                    />
                    <label for="email">Email</label>
                    <input 
                        type="email" 
                        name="email" 
                        id="emaik" 
                        value="<%= data ? data.email : '' %>"
                        required
                    />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required />
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="password2" required />
                    <label for="isadmin" class="secret-box-container">
                        <input type="checkbox" id="isadmin" name="isadmin" />
                        <span class="secret-box"></span>
                    </label>
                    <% if(errors && errors.length > 0) { %> 
                        <ul class="sign-up-errs">
                            <% errors.forEach(error => { %>
                                <li><%=error.msg%></li>
                            <% }) %>
                        </ul>
                    <% } %>
                    <button type="submit" class="sign-up-button">Sign Up!</button>
                </form>
            </div>
            <%- include("partials/footer") %>
        </div>
    </body>
</html>